CLOUDFLARE_API_TOKEN=your_cloudflare_api_token_here

# ntfy varsling (self-hosted, valgfritt)
NTFY_URL=http://127.0.0.1:2586
NTFY_PUBLIC_TOPIC=nettradar-varsler
NTFY_PRIVATE_TOPIC=nettradar-privat
NTFY_PRIVATE_TOKEN=your_random_secret_token_here
NTFY_NOTIFY_PUBLIC=true
NTFY_NOTIFY_PRIVATE=true
NTFY_COOLDOWN_SECONDS=3600
